@charset "UTF-8";
h1{
	text-align: center;
}
.body {
	margin: 0 auto;
	text-align: center;
	border: 2px solid black;
	width: 50%;
}

.view {
	height: auto;
	background-color: #F6ECDA;
	padding: 10px;
}

.no {
	float: left;
	height: auto;
}

.write {
	float: right;
	font-size: large;
}

.title {
	border-bottom: 1px solid black;
}

.like {
	float: right;
	height: 100%;
	box-sizing: border-box;
}

#content {
	margin: 0 atuo;
	width : 30%;
	height: auto;
}