@charset "UTF-8";
h1{
	text-align: center;
}

.body {
	margin: 0 auto;
	border: 2px solid black;
	width: 50%;
}

.view {
	height: auto;
	background-color: #F6ECDA;
	border-bottom: 1px solid black;
	overflow: auto;
	padding: 5px;
}

.no {
	float: left;
	padding: 5px;
}

.name, .like {
	float: right;
	padding: 5px;
}

.title {
	font-size: larger;
	font-weight: bolder;
}

#content {
	padding: 5px;
}