<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="totalCount" resultType="Integer">
		select count(*) from board
	</select>

	<select id="boardList" parameterType="pageDTO" resultType="boardDTO">
		SELECT * FROM boardview limit #{firstRecordIndex}, #{recordCountPerPage}
	</select>

	<select id="detail" parameterType="boardDTO"
		resultType="boardDTO">
		select * from boardview where bno = #{bno} 
		<if test="m_id != null">
		and m_id=#{m_id}
		</if>
	</select>
	
	<select id="commentsList" parameterType="Integer" resultType="Map">
		select * from commentsview where bno = #{bno}
	</select>

	<!-- insert는 result가 없다. -->
	<!-- 서브쿼리 : 쿼리 속에 쿼리 -->
	<insert id="write" parameterType="boardDTO">
		insert into board (btitle,
		bcontent, m_no, bip, buuid) values (#{btitle}, #{bcontent}, (select m_no from
		members where m_id=#{m_id}), #{bip}, #{buuid})
	</insert>
	
	<!-- write2 -->
	<insert id="write2" parameterType="boardDTO">
		insert into board (bcontent, m_no) values (#{bcontent},(select m_no from
		members where m_id=#{m_id}))
	</insert>

	<update id="delete" parameterType="boardDTO">
		update board set bdel = 0 
		where bno=#{bno}
		and m_no=(select m_no from members where m_id=#{m_id})
	</update>

	<update id="edit" parameterType="boardDTO">
		update board set
		bcontent=#{bcontent} where bno=#{bno}
	</update>
	
	<update id="likeUp" parameterType="boardDTO">
		update board set
		blike=blike+1 where bno=#{bno}
	</update>
	
	<update id="cdel" parameterType="Map">
		update comments set
		c_del = 0
		where bno=#{bno} and c_no=#{cno} and m_no=(select m_no from members where m_id=#{m_id})
	</update>
	
	<update id="cedit" parameterType="Map">
		update comments set
		c_comment=#{recomment}
		where bno=#{bno} and c_no=#{cno} and m_no=(select m_no from members where m_id=#{mid})
	</update>
	
</mapper>